$color-black: 31393C;
$color-dark-blue: 2176FF;
$color-light-blue: 33A1FD;
$color-dark-orange: FDCA40;
$color-light-orange: F79824;

$desctop-max-width: 1440px;
$tablet-max-width: 1024px;
$mobile-wax-width: 768px;


