$color-black: #31393C;
$color-dark-blue: #2176FF;
$color-light-blue: #33A1FD;
$color-dark-orange: #FDCA40;
$color-light-orange: #F79824;
$color-white: #ffff;

$desctop-max-width: 1440px;
$desctop-small-max-width: 1200px;
$tablet-max-width: 1024px;
$mobile-max-width: 768px;


